@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Poppins:wght@400;500;600;800&family=Roboto+Neon&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 0;
}

footer{
    background-color: rgb(27, 39, 59);
    border-top: 0.4em solid rgb(36, 145, 145);
    padding: 1em 0;
    width: 100%;
    margin-top: auto;
    position: relative;
}
