* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

.body {font-family: 'Dangrek', cursive;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;}

a {text-decoration: none;
    
    font-size: 30px;
    font-family: Roboto;
 }

}

.padre {display: flex;
        flex-flow: column nowrap;
}
.margen-interno {
    padding: 0 50px;
}

    .header { 
        background: linear-gradient(rgba(27, 39, 59, 0.9), rgba(1, 1, 8, 0.9));
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    }
        .menu {background: linear-gradient(rgba(27, 39, 59, 0.9), rgba(1, 1, 8, 0.9));
                display: flex;
                flex-flow: row wrap;
                height: 90px;
                align-items: center;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
            .logo {
                    flex: 1 1 auto;
                
            }

                .logo img { height: 70px;

                }

            .nav {
                    flex: 5 1 auto;
                    font-weight: 1000;
                  
            }
                .nav a {
                    color: #fff;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                    
                   
                }
                .nav a:hover{
                    color: rgba(173, 254, 234);
                }

            .social {
                    flex: 1 1 auto;  
                    display: flex;
            }
                .social a {
                    color: #fff;
                    font-size: 18px;
                    padding: 0 5px;
                    
                }
                
                .social a:hover{
                    color: rgba(173, 254, 234);
                }
                

        .texto-principal {
            
            height: 580px;
            display: flex;
            align-items:center;
        }
            .h1 {
                font-family: poppins;
                font-size: 11px;
                color: #fff;
                
                text-align: center;
                line-height: 1.6;
            }

    .section {
        background: rgba(27, 39, 59);
    display: flex;
}
        .articulos {
            background: linear-gradient(rgba(27, 39, 59, 0.9), rgba(1, 1, 8, 0.9));
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
    }
            .article {
                        
                        color: #fff;
                        font-size: 13px;
                        letter-spacing: 1px;
                        font-family: poppins;
                        margin: 10px 10px 0 0px;
                        flex: 1 1 30%;
                        background: linear-gradient(rgba(27, 39, 59, 0.9), rgba(23, 23, 31, 0.9));
                        
            }

            .article img{
                width: 100%;
            } 
            label a{
                font-size: 20px;
            }
                .article a:hover{
                    background: linear-gradient(rgb(248, 25, 210), rgb(240, 147, 224));;
                    font-size: 25px;
                    border-radius: 0.3em;
                    padding: 0.1em;
                }
            .h3 {
                color: #fff;
                font-size: 10px;
                padding: 10px 0;
                margin-top: -80px;
            }
            .h2 {
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
                color: #fff;
                
            }

            
            .btn-valores {
                text-decoration: none;
                color: #000;
                display: block;
                text-align: center;
                width: 100%;
                padding: 0.5em;
                 border-radius: 0.9em;
                border-color: transparent;
                font-size: 10px;
                word-spacing: 0.1em;
                letter-spacing: 0.1em;
                background: linear-gradient(rgb(4, 245, 197), rgb(3, 197, 241));
                box-shadow: 0.03em 0.03em 0.3em rgba(3, 191, 194, 0.828);
                    cursor: pointer;
                    
            } 

            .navegacion {background-color: #70a3c4;
                            flex: 1 1 100%;
            }
            .navegacion a {
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
                margin: 10px 10px 0 0px;

            }

        .aside {
            background-color: linear-gradient(rgba(27, 39, 59, 0.9), rgba(1, 1, 8, 0.9));
            margin: 10px 5px 10px 10px;
            font-family: poppins;
            
            }
            .aside img{
                width: 100%;
            }
            h4 {
                background: #000;
                color: #fff;
                padding: 10px;
                text-transform: uppercase;
            }
            iframe {
                width: 100%;
                height: auto;
            }

            

    .footer {background-color: #000;
            display: flex;
            justify-content: center;
            margin-top: 10px;
}
        .foot {
            text-align: center;
            
    }
        .foot a {
            color: #fff;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }

@media all and (max-width: 1260px){
    .section {flex-direction: column;}
    .menu {flex-direction: column;
            height: auto;}
    .aside {display: flex;
        justify-content: center;
    }
    h1 { 
        font-size: 18px;
    }
    .texto-principal img {
        height: 380px;
    } 
    
}

@media all and (max-width: 1080px){
  
    h1 {
        font-size: 15px;
    } 
    .texto-principal img {
        height: 350px;
    } 
    
    } 




@media all and (max-width: 800px){
    .articulos {
        flex-direction: column;
    }
    .texto-principal {
        height: 300px;
    } 
    .texto-principal img {
        height: 200px;
    } 
    h1 {
        font-size: 12px;
    } 
}

@media all and (max-width: 650px){
    .off {
        display: none;
        }
    .nav a {font-size: 8px;
        }
        
    .texto-principal  {
       
       flex-direction: column;
       height: 400px;
       margin-top: 100px;
    } 
    }
    




@media all and (max-width: 300px){
    .off {
        display: none;
        }
    .nav a {font-size: 8px;
        }
    .aside {
        flex-direction: column;
    }
    .texto-principal {
        height: 20px;
        display: column;
    } 
    .texto-principal  {
        flex-direction: column;
        height: 400px;
    } 
   

}